h1 , h2{
    text-align: center;
}

h3{
    font-size: large;
}

img{
    width: 300px;
    display: block;
    margin: auto;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
}


img:hover{
    width: 500px;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
}

.info{
    display:block;
    width: fit-content;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: sans-serif;
    background-color: rgba(0, 0, 255,0.1);
    background-size: cover;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0,1);
}

.edu , .interests, .exp ,.skills{
    font-family: sans-serif;
    width: 80%;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 255,0.1);
    background-size:contain;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0,1);
}


.container{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


body{
    background-image:url(https://www.teahub.io/photos/full/33-331795_turquoise.png);
    background-size:cover;
}

hr{
    height: 5px;
    background-color: crimson;
    border: 2px;
    border-color: crimson;
    box-shadow: 0 0 20px 0 crimson;
}

p{
    display: inline;
    text-align: left;
    font-family: sans-serif;
}

h3{
    display: inline;
    text-align: center;
    font-family: sans-serif;
}
